# Правила игнорирования файлов для корневой директории хранилища (репозитория)
# системы контроля версий Git
#
# Подробнее см. раздел "Игнорирование файлов" по ссылке ниже:
# https://git-scm.com/book/ru/v2/Основы-Git-Запись-изменений-в-репозиторий
#
# Для лучшей читаемости правила сгруппированы по именованиям и типам
# программного обеспечения.

# Язык программирования Python
__pycache__
*.pyc
.venv

# Генератор документации Sphinx
_build

# Текстовый редактор Nano
*.swp

# Интегрированные среды разработки
.idea
.vscode
